.carousel__item {
  min-height: 300px;
  width: 100%;
  background: #f6f6f4;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__prev,
.carousel__next {
  margin-top: 1px;
  box-sizing: content-box;
  border-radius: 0;
  height: 100%;
  color: black;
}

.carousel__prev {
  transform: translate(0%, -50%);
}
.carousel__next {
  transform: translate(0%, -50%);
}
